*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: $font-normal;
  line-height: 1.6;
  background-color: var(--color-bottom);
  color: var(--color-text);
  font-size: 1.5rem;
  background-image: url("../assets/cubes-pattern.png");

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}


input {
    border: 1px solid var(--color-bottom);
    background-color: var(--color-top);
    color: grey;
    font-family: $font-normal;
    padding: .5rem;
    border-radius: .5rem;
}

.settings {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 2.5rem;
}

.modal-container {
    background-color: rgba(31, 37, 50, 0.9);
    position: absolute;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    display: none; // removable

    & .modal {
        width: 70rem;
        padding: 5rem;
        background-color: var(--color-top);
        border-radius: .5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        & > * {
          width: 50rem;
        }

        & button {
          margin-bottom: 2.5rem;
        }
    }
}

.btnRollDice:active{
  transform: scale(0.9);
}

.btn-group {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -2.5rem;

  & button {
    width: 25rem;
  }
}